<%= simple_form_for @cocktail do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file, class: "custom-file-input" %>
  <div class="submit-btn">
    <%= link_to 'Back', cocktails_path, class: "btn btn-outline-secondary"%>
    <%= f.button :submit, class: "btn btn-outline-secondary new-btn" %>
  </div>
<% end %>
